{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="titlediv">
        <h1>H00000ch</h1>
        <div id="nav">
            <a href="../main/main.html">Main</a>
            <a href="../profile/profile.html">Profile</a>
            <a href="./Post.html">Post</a>
        </div>
        <div id="titleBackground"/>
    </div>
    <div id="postDiv">
        <div id="postCategory">
            <table>
                <tr>
                    <td><a href="">Game</a></td>
                </tr>
                <tr>
                    <td><a href="">Develop</a></td>
                </tr>
                <tr>
                    <td><a href="">Daily</a></td>
                </tr>
                <tr>
                    <td><a href="">Diet</a></td>
                </tr>
            </table>
        </div>
        <div id="newestPostperCategory">
        </div>
    </div>

</body>
</html>