{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="titlediv">
        <h1>H00000ch</h1>
        <div id="nav">
            <a href="../main/main.html">Main</a>
            <a href="./profile.html">Profile</a>
            <a href="../Post/Post.html">Post</a>
        </div>
        <div id="titleBackground"/>
    </div>
    <div id="contents">
        <div id="profile">
            <img src="../image/profile_photo.jpg">
            <div id="profile_name">H0zzaelimi</div>
        </div>
        <div id="adminDetail"></div>
    </div>
</body>
</html>