{% extends "../TopNavBar/topnav.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div id="contents">
        <div id="profile">
            <img src="{{profile.profileImage.url}}">
            <div id="profile_name">{{profile.nickname}}</div>
            <a href="{{profile.githubUrl}}" target="_blank" class="github">github</a>
        </div>
        <div id="adminDetail">
            <div class="profileText">{{profile.profileText}}</div>
        </div>
    </div>
{% endblock content %}