{% extends "../TopNavBar/topnav.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div id="newestPostperCategory" style="margin : 62px 0 0 0">
    <div id="hitcount">{{post.update_counter}}</div>
    <div id="detailPost">
        <h1>{{post.title}}</h1>
        <p class="viewCount">조회수 {{post.hit_count}}</p>
        <p id="createdTime">{{post.created_at}}</p>
        {% for photo in post.photo_set.all %}
        <img src="{{photo.image.url}}" style="width : 200px">
        {% endfor %}
        <p id="PostContent">{{post.content}}</p>
        <div class="editDelete">
            <div class="edit">
                <p><a href="{{post.id}}/edit">수정하기</a></p>
            </div>
            <div class="delete">
                <p><a href="{{post.id}}/delete">삭제</a></p>
        </div>
    </div>
    </div>
    <div class="ReplyFormPart">
        <form action="" method="post" >
            {% csrf_token %}
            {{ reply_form.as_p }}
            <label for="password">비밀번호<input type="password" value="" id="password"></label>
            <input type="submit" value="댓글달기" id="submitBtn">
        </form>
    </div>
    <p>댓글 > </p>
    <div id="Replydiv">
        {% for reply in replys %}
            <div>
                <p id="user">{{reply.userName}}</p>
                <p id="time">{{reply.created_at}}</p>
                <p id="content">{{reply.content}}</p>
                <p><a href="{{post.id}}/{{reply.id}}/delete">삭제</a></p>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock content %}