{% extends "../TopNavBar/topnav.html" %}
{% load static %}
{% block postContent %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div id="postDiv">
        <div id="postCategory">
            {% for category in categorys %}
                <a href='/post/category/{{category.id}}'>{{category.name}}</a>
            {% endfor %}
        </div>
        <div id="newestPostperCategory">
            <h1>최근 글</h1>
            {% block content %}{% endblock content %}
            <button onclick="location.href = '/writePost/'" id="writePostButton">글쓰기</button>
            {% for post in posts %}
                <div class="postsInMain">
                    <a href='/post/{{post.id}}' id="postTitleInMain">{{post.title}}</a>
                    <p>{{post.summary}}</p>
                    <a href='/post/{{post.id}}' id="goToDetail">...더보기</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock postContent %}