{% extends "../TopNavBar/topnav.html" %}
{% load static %}
{% block postContent %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div id="postDiv">
        <div id="postCategory">
            <table>
                <tr>
                    <td><a href="">Game</a></td>
                </tr>
                <tr>
                    <td><a href="">Develop</a></td>
                </tr>
                <tr>
                    <td><a href="">Daily</a></td>
                </tr>
                <tr>
                    <td><a href="">Diet</a></td>
                </tr>
            </table>
        </div>
        <div id="newestPostperCategory">
            {% block content %}{% endblock content %}
            <button onclick="location.href = '/writePost/'">글쓰기</button>
        </div>
    </div>
{% endblock postContent %}