<!DOCTYPE html>
<html>
<head>
    <title>
        Blog
    </title>
    <link rel="stylesheet" type="text/css" href="./main.css">
</head>
<body>
<div id="titlediv">
    <h1>H00000ch</h1>
    <div id="nav">
        <a href="./main.html">Main</a>
        <a href="./profile.html">Profile</a>
        <a href="./Post.html">Post</a>
    </div>
    <div id="titleBackground"/>

</div>
<div id="contents">
    <div id="profile">
        <img src="image/profile_photo.jpg">
        <div id="profile_name">H0zzaelimi</div>
        <div id="profile_detail">profile detail</div>
        <a id="view_more" href="./profile.html">more</a>
    </div>
    <div id="postPart">
        <div id="newPost" class="post">
            <h2>New Post</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolor inventore ipsa! Aliquid amet culpa, cumque fuga ipsum ullam! Alias architecto consectetur hic nihil, nobis omnis quod tempore velit vero.
        </div>
        <div id="bestPost" class="post">
            <h2>Best Post</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id maxime quia temporibus. Deleniti dolor eaque fuga fugiat illum quasi suscipit! Laborum, quas, voluptas. Beatae blanditiis dicta rerum similique vero voluptatum.
        </div>
    </div>

</div>
</body>
</html>