{% extends "../TopNavBar/topnav.html" %}
{% load static %}
{% block mainContent %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<div id="contents">
    <div id="profile">
        <img src="{%static 'image/profile_photo.jpg' %}">
        <div id="profile_name">H0zzaelimi</div>
        <div id="profile_detail">profile detail</div>
        <a id="view_more" href="/profile/">more</a>
    </div>
    <div id="postPart">
        <div id="newPost" class="post">
            <h2>New Post</h2>
            <a href='/post/{{newPost.id}}' class="postTitleInMain">{{newPost.title}}</a>
            <p>{{newPost.summary}}</p>
            <a href='/post/{{newPost.id}}' class="goToDetail">...더보기</a>
        </div>
        <div id="bestPost" class="post">
            <h2>Recommend Post</h2>
            <a href='/post/{{recommendPost.id}}' class="postTitleInMain">{{recommendPost.title}}</a>
            <p>{{recommendPost.summary}}</p>
            <a href='/post/{{recommendPost.id}}' class="goToDetail">...더보기</a>
        </div>
    </div>
</div>
{% endblock mainContent %}